<md-card class="card__title">
  <md-card-header>
    <md-card-title>{{'key-settings.title' | translate}}</md-card-title>
  </md-card-header>
</md-card>
<md-card class="card__key-settings">
  <md-card-content>
    <form *ngIf="key$ | async as key">
      <md-input-container class="key--fotn-size">
        <input 
          mdInput 
          placeholder="{{'key-settings.keyInputPlaceholder' | translate}}"
          [(ngModel)]="key.key"
          name="key">
      </md-input-container>
      <md-input-container>
        <input 
          mdInput 
          placeholder="{{'key-settings.streetInputPlaceholder' | translate}}"
          [(ngModel)]="key.streetName" 
          name="streetName">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input 
          mdInput
          #message 
          maxlength="256" 
          placeholder="{{'key-settings.note' | translate}}" 
          [(ngModel)]="key.note"  
          name="note">
        <md-hint align="end">{{message.value.length}} / 256</md-hint>
      </md-input-container>
      <table cellspacing="0">
        <tr>
          <td>
            <md-input-container>
              <input 
                mdInput 
                placeholder="{{'key-settings.latitudePlaceholder' | translate}}" 
                disabled 
                [value]="key.lat">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input 
                mdInput 
                placeholder="{{'key-settings.longitudePlaceholder' | translate}}" 
                disabled 
                [value]="key.lng">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-actions>
    <button 
      *ngIf="!(key$ | async)?.key"
      color="primary" 
      type="button"
      md-raised-button 
      attr.aria-label="{{'key-settings.accessibilityInfo.save' | translate}}" 
      (click)=saveKey()
      mdTooltip="{{'key-settings.tooltip.save' | translate}}">
      <md-icon>save</md-icon>
      <span 
        class="cdk-visually-hidden">
        {{'key-settings.accessibilityInfo.save' | translate}}</span>
    </button>
    <button 
      *ngIf="(key$ | async)?.key"
      color="accent" 
      type="button" 
      md-raised-button 
      attr.aria-label="{{'key-settings.accessibilityInfo.edit' | translate}}" 
      (click)=getKey() 
      mdTooltip="{{'key-settings.tooltip.edit' | translate}}">
      <md-icon>edit</md-icon>
      <span 
        class="cdk-visually-hidden">
        {{'key-settings.accessibilityInfo.edit' | translate}}</span>
    </button>
    <button 
      color="warn" 
      type="button"
      md-raised-button 
      attr.aria-label="{{'key-settings.accessibilityInfo.close' | translate}}" 
      (click)=closeAndGoToMain() 
      mdTooltip="{{'key-settings.tooltip.close' | translate}}">
      <md-icon>cancel</md-icon>
      <span 
        class="cdk-visually-hidden">
        {{'key-settings.accessibilityInfo.close' | translate}}</span>
    </button>
  </md-card-actions>
</md-card>