:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

%card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card__title {
  @extend %card;
  position: relative;
  margin-top: 50px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    margin: 0;
  }
}

.back-button {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(50%, 50%, 0);
}

.card__key-settings {
  @extend %card;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}

.action-container {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

@media (max-width: 600px) {
  .card__title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .card__key-settings {
    height: 100%;
  }
  .key--fotn-size {
    font-size: 20px;
  }
  .mat-form-field {
    margin-bottom: 6px;
  }
}