<md-toolbar color="primary" class="toolbar">
  <!-- <span>{{content.title}}</span> -->
  <span>{{'title' | translate }}</span>  
  <span class="example-fill-remaining-space"></span>
  <app-language-switcher></app-language-switcher>
  <button 
    type="button" 
    md-button 
    aria-label="toggle navigation"
    (click)="toggleSidenav()"
    class="sidenav-toggle"
    mdTooltip="{{'navbar.tooltip.menu' | translate}}">
    <md-icon>menu</md-icon>
    <span class="cdk-visually-hidden">{{'navbar.accessibilityInfo' | translate}}</span>
  </button>    
</md-toolbar>
