<md-card class="search-form">
    <input 
        class="search-full-width search-adjust-padding"
        appAutocomplete    
        (onSelect)="getPlaceOnChange($event)"
        type="search" 
        mdInput 
        placeholder="{{'map.inputPlaceholder' | translate}}">
</md-card>
<button 
    type="button" 
    md-button 
    aria-label="toggle navigation"
    class="my-location__button--posiiton"
    mdTooltip="{{'map.tooltip.myLocation' | translate}}">
    <md-icon class="my_location__icon">my_location</md-icon>
    <span class="cdk-visually-hidden">{{'map.tooltip.myLocation' | translate}}</span>
</button> 
<div id="googleMap" #googleMap class="map-full-size"></div>
