<md-card class="search-form">
    <md-input-container class="search-full-width">
        <input mdInput
            appAutocomplete    
            (onSelect)="getPlaceOnChange($event)"
            type="search" 
            placeholder="{{'map.inputPlaceholder' | translate}}">
    </md-input-container>
</md-card>
<button 
    type="button" 
    md-button 
    aria-label="toggle navigation"
    (click)="localizateMe()"
    class="my-location__button--posiiton"
    mdTooltip="{{'map.tooltip.myLocation' | translate}}">
    <md-icon class="my_location__icon">my_location</md-icon>
    <span class="cdk-visually-hidden">{{'map.tooltip.myLocation' | translate}}</span>
</button> 
<div id="googleMap" #googleMap class="map--full-size"></div>
