<nav>
  <ul>
    <li>
      <a routerLink="/main" routerLinkActive="active" (click)="closeSidenav()">Main</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" (click)="closeSidenav()">Profile</a>
    </li>
    <li>
      <a routerLink="/key-settings" routerLinkActive="active" (click)="closeSidenav()">KeySettings</a>
    </li>
    <li>
      <a routerLink="/app-settings" routerLinkActive="active" (click)="closeSidenav()">AppSettings</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" (click)="closeSidenav()">About</a>
    </li>
  </ul>
</nav>