<nav>
  <ul>
    <li>
      <a routerLink="/main" routerLinkActive="active" (click)="closeSidenav()">{{'main.title' | translate}}</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" (click)="closeSidenav()">{{'profile.title' | translate}}</a>
    </li>
    <li>
      <a routerLink="/keys-list" routerLinkActive="active" (click)="closeSidenav()">{{'keys-list.title' | translate}}</a>
    </li>
    <li>
      <a routerLink="/app-settings" routerLinkActive="active" (click)="closeSidenav()">{{'app-settings.title' | translate}}</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active" (click)="closeSidenav()">{{'about.title' | translate}}</a>
    </li>
  </ul>
</nav>