:host {
    @media (max-width: 600px) {
    padding: 0px;
}
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: 400;
    padding: 50px 70px 50px;
    max-width: 1080px;
}

.map {    
    display: flex;
    flex: 1;
    background-color: #fff; 
}

.spiner-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 500000;
}