<form 
  #f="ngForm"
  class="signup__form">
  <label 
      class="fotn-size--large" 
      for="email">{{'signUp.title' | translate}}
      <p class="fotn-size--small" >{{'signUp.info' | translate}}</p>
  </label>
  <md-input-container>
    <input 
      id="email"
      mdInput 
      placeholder="Email"
      [formControl]="emailFormControl">
    <md-error *ngIf="emailFormControl.hasError('pattern')">
      {{'signUp.emailValidInfo' | translate}}
    </md-error>
    <md-error *ngIf="emailFormControl.hasError('required')">
      {{'signUp.emailReauiredInfo' | translate}} <em>{{'signUp.emailReauiredInfoStrong' | translate}}</em>
    </md-error>
  </md-input-container>
  <md-input-container>
    <input 
      mdInput
      #message 
      type="password"
      placeholder="Password">
  </md-input-container>
  <div class="action-container">
    <button 
      type="button"
      md-dialog-close
      color="primary" 
      type="submit"
      md-button
      mdTooltip="{{'signUp.tooltip.signUp' | translate}}"
      attr.aria-label="{{'signUp.tooltip.signUp' | translate}}">{{'signUp.cancel' | translate}}
    </button>
    <button 
      color="primary" 
      md-button 
      mdTooltip="{{'signUp.tooltip.signUp' | translate}}"
      attr.aria-label="{{'signUp.tooltip.signUp' | translate}}"
      [disabled]="!f.valid">{{'signUp.signOutButton' | translate}}
    </button>
  </div>      
</form>
