<header class="header">
  <div class="app-title-container">
    <h1 class="app-title">
      {{content.title}}
    </h1>
  </div>
  <button 
    class="btn-action hamburger-menu"
    type="button"
    aria-label="toggle navigation" 
    aria-controls="navigation" 
    aria-expand="false"
    (click)="toggleNav = !toggleNav">
    <!--(click)="toggleNav? gotoProfile() : gotoMain()">-->
    <span class="nav-toggler__icon" aria-hidden="true"></span>
    <span class="nav-toggler__label">Open/close menu</span>
  </button>    
</header>
<app-menu *ngIf="toggleNav" (closeMenu)="isCloseMenu($event)"></app-menu>
<router-outlet></router-outlet>