<md-card class="card__title">
  <md-card-header>
    <md-card-title>{{'profile.title' | translate}}</md-card-title>
  </md-card-header>
</md-card>
<!-- <md-icon class="personal-icon">google</md-icon> -->
<!-- <div class="sign-in-container">
  <button
    type="button"
    md-raised-button
    attr.aria-label="{{'profile.signIn' | translate}}">{{'profile.signIn' | translate}} 
  </button>
  <button 
    type="button"
    md-raised-button
    attr.aria-label="{{'profile.signUp' | translate}}">{{'profile.signUp' | translate}}
  </button>
  <button
    type="button"
    md-raised-button
    attr.aria-label="{{'profile.signOut' | translate}}">{{'profile.signOut' | translate}}
  </button>
</div> -->
<app-signin></app-signin>