:host {
  flex: 1 1 auto;
  display: flex;
}

.sidenav-container {
  width: 100%;
  min-width: 265px;
}

.sidenav-menu {
  @media (max-width: 600px) {
    min-width: 100%;
  }
  min-width: 260px;
  padding: 20px;
}

.sidenav-key-settings {
  width: 100%;
}