body {
    margin: 0;
    box-sizing: border-box;
}

app-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.mat-toolbar, .theme-toggle,
.mat-sidenav, .sidenav-container {
    transition: background-color 1s;
}
