<md-card class="card__profile">
  <md-card-content>
    <form 
      #f="ngForm">
      <label 
        class="fotn-size--large" 
        for="email">{{'signIn.title' | translate}}
        <p class="fotn-size--small" >{{'signIn.info' | translate}}</p>
      </label>
      <md-input-container>
        <input 
          id="email"
          mdInput 
          placeholder="Email"
          [formControl]="emailFormControl">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
          {{'signIn.emailValidInfo' | translate}}
        </md-error>
        <md-error *ngIf="emailFormControl.hasError('required')">
          {{'signIn.emailReauiredInfo' | translate}} <em>{{'signIn.emailReauiredInfoStrong' | translate}}</em>
        </md-error>
      </md-input-container>
      <md-input-container>
        <input 
          mdInput
          #message 
          type="password"
          placeholder="{{'signIn.passwordPlaceholder' | translate}}">
      </md-input-container>
      <div class="action-container">
        <button 
          type="button"
          (click)="openDialog()"
          md-button
          mdTooltip="{{'signIn.tooltip.signUp' | translate}}"
          attr.aria-label="{{'signIn.accessibilityInfo.signUp' | translate}}">{{'signIn.signOutButton' | translate}}
        </button>
        <button 
          color="primary" 
          type="submit"
          md-raised-button 
          mdTooltip="{{'signIn.tooltip.signIn' | translate}}"
          attr.aria-label="{{'signIn.accessibilityInfo.signIn' | translate}}" 
          [disabled]="!f.valid">{{'signIn.signInButton' | translate}}
        </button>
      </div>      
    </form>
  </md-card-content>
</md-card>