<md-card class="card__profile">
  <ng-template [ngIf]="!authService.isAuthenticated()">
    <md-card-content>
      <form 
        #f="ngForm"
        (ngSubmit)="onSingIn(f)">
        <label 
          class="fotn-size--large" 
          for="email">{{'signIn.title' | translate}}
          <p class="fotn-size--small" >{{'signIn.info' | translate}}</p>
        </label>
          <md-form-field>
            <input 
              name="email"
              ngModel
              mdInput
              type="email" 
              placeholder="Email"
              required
              #email="ngModel">
            <md-error *ngIf="email.touched && !email.valid">
                {{'signIn.emailReauiredInfo' | translate}} <strong>{{'signIn.emailReauiredInfoStrong' | translate}}</strong>
            </md-error>
            <!-- <md-error *ngIf="emailFormControl.hasError('required')">
              {{'signIn.emailReauiredInfo' | translate}} <em>{{'signIn.emailReauiredInfoStrong' | translate}}</em>
            </md-error> -->
            <!-- <input 
              id="email"
              mdInput 
              placeholder="Email"
              [formControl]="emailFormControl">
            <md-error *ngIf="emailFormControl.hasError('pattern')">
              {{'signIn.emailValidInfo' | translate}}
            </md-error>
            <md-error *ngIf="emailFormControl.hasError('required')">
              {{'signIn.emailReauiredInfo' | translate}} <em>{{'signIn.emailReauiredInfoStrong' | translate}}</em>
            </md-error> -->
          </md-form-field>
          <md-form-field>
            <input 
              name="password"
              ngModel
              mdInput
              type="password"
              placeholder="Password"
              required
              #password="ngModel"
              [minlength]="6"
              placeholder="{{'signIn.passwordPlaceholder' | translate}}">
            <md-error *ngIf="password.touched && !password.valid">
              {{'signUp.passwordReauiredInfo' | translate}} <em>{{'signUp.passwordReauiredInfoStrong' | translate}}</em>
            </md-error>
          </md-form-field>
        <div class="action-container">
          <button 
            type="button"
            (click)="openRegister()"
            md-button
            mdTooltip="{{'signIn.tooltip.signUp' | translate}}"
            attr.aria-label="{{'signIn.accessibilityInfo.signUp' | translate}}">{{'signIn.signOutButton' | translate}}
          </button>
          <button 
            color="primary" 
            type="submit"
            md-raised-button
            mdTooltip="{{'signIn.tooltip.signIn' | translate}}"
            attr.aria-label="{{'signIn.accessibilityInfo.signIn' | translate}}" 
            [disabled]="!f.valid">{{'signIn.signInButton' | translate}}
          </button>
        </div>      
      </form>
    </md-card-content>
    <md-card-actions class="providers-container">
      <span>{{'signIn.signInWith' | translate}}:</span>
      <button 
        class="back-button"
        type="button"
        md-button
        (click)="onSingInGoogle()"
        attr.aria-label="{{'signIn.accessibilityInfo.signInGoogle' | translate}}" 
        >Google
      </button>
      <button 
        class="back-button"
        type="button"
        md-button
        (click)="onSingInGitHub()"
        attr.aria-label="{{'signIn.accessibilityInfo.signInGitHub' | translate}}"
        >GitHub
      </button>
    </md-card-actions>  
  </ng-template>
  <div class="sign-out__btn">
    <button
      *ngIf="authService.isAuthenticated()"
      md-button
      (click)="onLogOut()">Log out       
    </button>
  </div>
</md-card>