:host {
  display: flex;
  align-items: center;
}

select {
  border: 0 !important;
  height: 30px;
  min-width: 45px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
}

md-icon {
  padding-right: 6px;
}
