:host, .flex {
  display: flex;
  align-items: center;
}

.select--background {
  border: 0;
  height: 30px;
  min-width: 45px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}

option {
  color: rgba(0, 0, 0, 1);
}

md-icon {
  padding-right: 6px;
}
