:host {
    @media (max-width: 600px) {
    padding: 0px;
}
    display: flex;
    flex-grow: 1;
    font-weight: 400;
    min-height: 100%;    
}

.component-viewer {
    display: flex;    
    flex-grow: 1;    
}
