:host {
  @media (max-width: 600px) {
    padding: 0px;
  }
  display: flex;
  flex-grow: 1;
  font-weight: 400;
  height: 100%;
}

.component-viewer {
  display: flex;
  width: 1080px;
  margin: 0 auto;
}
