md-card {
    font-size: 16px;
    text-align: center;    
    
}

.key-code {
    font-size: 16px;
    // height: auto;
    margin-top: 35px;
    word-wrap: normal;
    word-break: break-all;
    white-space: normal;
}

.key-street {
    padding: 10px;
    
}

@media(max-width: 600px) {
    .key-code {
        line-height: 1;
        font-size: calc(4vw + 4vh + 2vmin);
        margin-top: 0px;
        padding: 10px;
    }
    .key-street {
        line-height: 1;
        padding: 2px;        
    }
}